* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
}

:root {
    --blue: hsl(246, 80%, 60%);
    --light-red-work: hsl(15, 100%, 70%);
    --soft-blue: hsl(195, 74%, 62%);
    --light-red: hsl(348, 100%, 68%);
    --lime-green: hsl(145, 58%, 55%);
    --violet: hsl(264, 64%, 52%);
    --soft-orange: hsl(43, 84%, 65%);

    --very-dark-blue: hsl(226, 43%, 10%);
    --dark-blue: hsl(235, 46%, 20%);
    --desaturated-blue: hsl(235, 45%, 61%);
    --pale-blue: hsl(236, 100%, 87%);
}

body {
    background: var(--very-dark-blue);
    display: grid;
    grid-template-columns: 1fr;
}

h1 {
    font-weight: lighter;
    color: white;
}

.card {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 2rem;
    margin-top: 5rem;
}

.profile-info {
    display: flex;
    background: var(--blue);
    padding: 2rem 1.5rem;
    border-radius: 1rem;
    box-shadow: 0px 47px 0px 0px var(--dark-blue);
}

.profile-info img {
    max-width: 4.5rem;
    margin-right: 1rem;
    border: 3px solid white;
    border-radius: 50%;
}

.profile-info div{
    color: var(--pale-blue);
}

.profile-info h1 {
    font-size: 2rem;
}

.card-section {
    background: var(--dark-blue);
    display: flex;
    justify-content: space-around;
    height: 4rem;
    border-radius: 0rem 0rem 1rem 1rem;
}

.card-section button {
    background: none;
    border: none;
    color: var(--blue);
    font-size: 1.15rem;
    cursor: pointer;
}

.card-section .active {
    color: white;
}

.attribution {
    display: none;
}

article {
    width: 90%;
    margin: 0 auto;
    
}

article section {
    z-index: 1;
    border-radius: 1rem 1rem 0 0;
    display: flex;
    justify-content: end;
    padding-right: 1rem; 
}

#work section {
    background: var(--light-red-work);
    box-shadow: 0px 22px 0px 0px var(--soft-orange);
    height: 5rem;
}

article div {
    background: var(--dark-blue);
    z-index: 2;
    border-radius: 1rem;
    transform: translateY(-2rem);
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

article div span {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.35rem;
    color: white;
}

article div span h2 {
    font-size: 1.15rem;
}

article div span button {
    border: none;
    background: none;
}

article div span h1 {
    font-size: 2rem;
}

#play section {
    background: var(--soft-blue);
    box-shadow: 0px 22px 0px 0px var(--soft-blue);
    height: 5rem;
}

#study section {
    background: var(--light-red);
    height: 5rem;
}

#exercise section {
    background: var(--lime-green);
    height: 5rem;
}

#social section {
    background: var(--violet);
    height: 5rem;
}

#selfcare section {
    background: var(--soft-orange);
    height: 5rem;
}